/*!
Created by : Umayr
Website : http://umayr.github.io
Created on : 12/20/2014
*/


$color-primary : #e74c3c;
$color-primary-hover : #c0392b;

$color-secondary : #34495e;
$color-secondary-hover : #2c3e50;

$color-error: #D24D57;
