@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@media only screen and (max-width : 480px) {
    .container{
        width: 90% !important;
        margin-top: 10% !important;
        margin-left: 5% !important;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .container{
        width: 80% !important;
        margin-top: 10% !important;
        margin-left: 10% !important;
    }
}
body {
    font-family: 'Droid Sans Mono',;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
    padding: 0;
    margin: 0;
    color:#333;
}

.container{
    width: 50%;
    margin-top: 15%;
    margin-left: 25%;
    text-align: center;
}


span{
    &.underline{
        color:#000;
        text-decoration: underline;
    }
}

p{
    font-size: 14px;
    &#intro{
        margin-top: 8%;
    }
}

ul{
    font-size: 14px;
    &#social{
        margin-top: 5%;
        list-style: none;
        li{
            display: inline;
        }
    }
}

a{
    color: #555;
    &:hover, &:active{
        color:#E7473E !important;
    }
    &:visited{
        color:#888;
    }
}
