<section id="index">
    <h1 class="huge">Umayr Shahid</h1>

    <h2>
        UI/UX designer &amp; software developer <br/>
        living and working in Karachi, Pakistan.
    </h2>

    <div class="buttons-wrap">
        <a ng-href="#/design" class="btn btn-default btn-override primary">
            design
        </a>
        <a ng-href="#/code" class="btn btn-default btn-override secondary">
            code
        </a>
    </div>
    <div class="social-icons">
        <ul>
            <li ng-repeat="social in socialLinks">
                <a ng-href="{{social.link}}" title="{{ social.name }}" target="_blank">
                    <span class="fa" ng-class="social.icon"></span>
                </a>
            </li>
        </ul>
    </div>
</section>